.containerHeader {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-image: url('../img/vitrageHeder.svg');
    .headerBtn {
        background-color: rgb(3, 63, 183);
        color: rgb(255, 255, 255);
    }
}
