.containerHeader {
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: azure;
    .headerBtn {
        background-color: rgb(3, 63, 183) !important;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 600px) {
  .containerHeader {
    flex-direction: column;
  }

  .headerBtn {
    width: 90%;
  }
}
